@media screen and (max-width: 1200px) {

    /* Header */
    .my-menu {
        order: 1;
    }

    .nav-link,
    .navbar,
    .dropdown-item {
        color: #000000 !important;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    /* Section Four */
    .sec-four-text {
        margin: 0;
        text-align: center;
        max-width: 600px;
    }

    #section_four img {
        padding: 0;
        margin: 10px 10px;
    }
}

@media screen and (max-width: 991px) {

    /* Header */
    .my-menu {
        order: 0;
    }
    .collapse:not(.show) {
        display: block;
    }
    .collapse:not(.menu-go) {
        transform: translateX(-110%);
        background-color: rgba(255, 255, 255, 0.9);
    }
    .collapse {
        transition: all 1s;
        position: absolute;
        top: 47px;
        left: -20px;
        background-color: #ffffff;
        height: 100vh;
        width: calc(100% + 40px);
        padding: 10px 20px;
    }
    .dropdown-toggle::after{
        right: 15px;
    }
    .navbar-nav .dropdown-menu {
        border: none;
        border-left: 1px solid #000000;
        border-radius: 0;
        margin: 0 0 0 15px;
    }
    /* Section three */
    .backgroud-sec-three {
        height: 537px;
    }

    /* youtube */
    .video {
        flex-direction: column;
        align-items: center;
    }

    /* Section Eight */
    #section_eight .container {
        padding: 50px 60px;
    }

}

@media screen and (max-width: 768px) {

    /* Section Eight */
    #section_eight .row {
        text-align: center;
    }

    #section_eight .container {
        padding: 30px;
    }

    .explore {
        margin: 30px 0;
    }
}

@media screen and (max-width: 576px) {

    /* Sponsors */
    .sponsors {
        background: #000000;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
    }

    .sponsors img {
        object-fit: cover;
        margin: 5px;
        display: block;
    }

    /* Section Four */
    #section_four img {
        width: 280px;
        height: 280px;
    }

    /* Section Seven */
    #section_seven .container {
        background-color: #000000;
        padding: 35px 30px 50px 30px;
        text-align: center;
    }

    .benefits {
        padding: 0px;
    }

    /* Footer */
    #footer .container p {
        margin: 0 0 20px 0;
    }

    #footer .container .row {
        text-align: center;
    }
}